<%= link_to "New coctail" , new_cocktail_path %>


<h1>Cocktails
</h1>
<p>Liste des mes cocktails</p>
  <% @cocktails.each do |cocktail| %>

    <div class="card">
      <%= cocktail.name %>
      <%= link_to "Show", cocktail_path(cocktail) %>
    </div>
  <% end %>
