/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
body{
  background-color: #D0BCBC;

}

.card{
background-color: white;
margin-top: 10px;
}

.card:hover{
background-color: #FE9D9D;

}
